<div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">CINERAMA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item  px-2">
                    <a class="nav-link" href="#" (click)="selectCategory($event)">All</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#" (click)="selectCategory($event)">Movie</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#" (click)="selectCategory($event)">TV</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#" (click)="selectCategory($event)">People</a>
                </li>
            </ul>
        </div>
    </nav>
</div>